@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
 --Very dark blue (main BG): hsl(217, 54%, 11%);
--Very dark blue (card BG): hsl(216, 50%, 16%);
--Very dark blue (line): hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body{
    font-family: "Outfit";
    width: 100%;
    background-color:  hsl(216, 55%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin:0%;
	padding: 0px;

}
 .outer-border{
    background-color: hsl(215, 49%, 12%);
    border-radius: 0.8rem;
    padding: 0.9rem;
}
img{
    max-width: 100%;
    border-radius: 1rem;
position:relative ;

}
.container{
    background-color:hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 1.48rem;
    width: 20rem;
    
}
 .image-equilibrium{
    position:relative ;
    border-radius:10rem ;
} 
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:hsl(178, 100%, 50%) ;
    border-radius: 1rem;
  }
  .icon {
      height: 70px;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
  }
   .container:hover .overlay {
    opacity: 0.5;
  } 
  .container:hover .icon {
    opacity: 1;
  } 

/* Equilibrium #3429 */
.container h3{
    font-size: 35px;
    color:hsl(0, 0%, 100%);
}
.container h3:hover{
    transition: .3s ease;
    color:hsl(178, 100%, 50%) ;
}
/* ethereum amount */
.eth{
    color: hsl(178, 100%, 50%); 
    font-size: 25px;
}
.eth img{
    width: 18px;
    padding-top: 20px;
    /* margin-right: 0.2px; */
}
.eth p{
margin-left: 25px;
margin-top: -39px;
}

/* time */
.time{
    color:hsl(215, 51%, 70%);
    position: relative;
    right: -325px;
    width: 200px;
    margin-top: -60px;
    padding-top: 4px;
    font-size: 26px;
    /* margin-bottom: 300px; */
} 
.time img{
    width: 30px;
}
.time p{
margin-left: 40px;
margin-top: -40px;
}

        /* profile */
.profile img{
    height: 2.2rem;
    border:2px solid white;
    border-radius: 50%;
    margin: 20px;
    margin-left: -1px;
    float: left
}
.profile{
  
    border: 2px solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:hsl(216, 20%, 53%) ;
    color: hsl(0, 0%, 100%);
}
 .profile p{
    margin-left: 80px;
    margin-top: 31px;
    font-size: 27px;
    }


/* hover for the profile */
.hover:hover{
    transition: .3s ease;
    color:hsl(178, 100%, 50%);
} 

.pro{

    color:hsl(215, 51%, 70%);
}

/* Equilibrium description*/
.equi{
    font-size: 30px;
    color: hsl(215, 51%, 70%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution p{ color:white ;}
.first, .second{
    display: inline;
}
only screen and (max-width:320px)
