@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-body: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --br: 8px;
}


*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Very-dark-blue-body);
}
.card{
    padding: 1.5em;
    border-radius: var(--br);
    background-color: var(--Very-dark-blue-card);
}
.card-image{
    width: 24em;
    display: block;
    border-radius: var(--br);
}
<<<<<<< HEAD
.overlay{
    width: 100%;
    height: 98%;
    top: 50%;
    left: 50%;
    opacity: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    cursor: pointer;
    background-color: var(--Cyan);
    transform: translate(-50%,-50%); 
}
.icon {
    height: 70px;
    padding: 3em;
  font-size: 100px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* opacity: 0; */
}
.overlay:hover{
    opacity: .4;
}
.card h2{
=======
.card h1{
>>>>>>> parent of bb3112f (I think I am done)
    color: var(--White);
    margin: .5em 0;
}
.card p{
    color: var(--Softblue);
    margin: .5em 0;
}
.space-between{
    display: flex;
    padding: .5em 0;
    justify-content: space-between;
}
.price,.deadline{
    display: flex;
    gap: .4em;
    align-items: center;
    justify-content: center;
}
.price p{
    color: var(--Cyan);
}
.profile{
    gap: .8em;
    display: flex;
    padding-top: 1em ;
    border-top: 2px solid var(--Very-dark-blue-line);
}
.profile img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1.5px solid var(--White);
}
.white-name{
    color: var(--White);
    margin-left: .2em;
}
.hover-cyan:hover{
    color: var(--Cyan);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution p{ color:white ;}
