@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-body: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --br: 8px;
}


*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    font-family: "Outfit";
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Very-dark-blue-body);
}
body p{
    font-size: 18px;
}
.card{
    max-width: 24em;
    width: 90%;
    padding: 1.5em;
    border-radius: var(--br);
    background-color: var(--Very-dark-blue-card);
}
.image-container{
    position: relative;
}
.card-image{
    width: 100%;
    border-radius: var(--br);
}
.overlay{
    width: 100%;
    height: 98%;
    top: 50%;
    left: 50%;
    opacity: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    cursor: pointer;
    background-color: var(--Cyan);
    transform: translate(-50%,-50%); 
}
.overlay:hover{
    opacity: .4;
}
.card h2{
    color: var(--White);
    margin: .5em 0;
}
.card p{
    color: var(--Softblue);
    margin: .5em 0;
}
.space-between{
    display: flex;
    padding: .5em 0;
    justify-content: space-between;
}
.price,.deadline{
    display: flex;
    gap: .4em;
    align-items: center;
    justify-content: center;
}
.price p{
    color: var(--Cyan);
}
.profile{
    gap: .8em;
    display: flex;
    padding-top: 1em ;
    align-items: center;
    border-top: 2px solid var(--Very-dark-blue-line);
}
.profile img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1.5px solid var(--White);
}
.white-name{
    color: var(--White);
    margin-left: .2em;
}
.hover-cyan:hover{
    color: var(--Cyan);
    cursor: pointer;
    transition: .3s ease-in-out;
}
@media (max-width: 450px){
    /* body{
        margin: 0 1.5em;
    } */
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
.attribution p{
     color:white ;
     font-size: 11px
    }
